.scroll-buttons {
  position: fixed;
  right: 40rem;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.scroll-button {
  width: 40px;
  height: 40px;
  background-color: #576574;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.scroll-button:hover {
  background-color: transparent;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .scroll-buttons {
    right: 180px;
    bottom: 20px;
  }

  .scroll-button {
    width: 36px;
    height: 36px;
    font-size: 16px;
  }
  .scroll-button:hover{
    background-color: transparent;
    transform: scale(1.1);
  }
}

@media (max-width: 375px) {
  .scroll-buttons {
    right: 10px;
    bottom: 10px;
    gap: 5px;
  }
  .scroll-button {
    width: 28px;
    height: 28px;
    font-size: 12px;
  }
}
