.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 80px 170px;
}

.contact-title {
  position: relative;
}

.contact-title h1 {
  padding: 0px 20px;
  font-size: 80px;
  font-weight: 800;
}

.contact-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.contact-section {
  display: flex;
  gap: 300px;
}

.contact-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-left h1 {
  font-size: 80px;
  font-weight: 700;
  background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-left p {
  max-width: 550px;
  color: #d8d8d8;
  font-size: 20px;
  line-height: 35px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #d8d8d8;
  font-size: 22px;
}

.contact-detail {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-detail img{
    width: 50px;
    height: 20px;
    border-radius: 1rem;
}

.contact-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-right label {
  color: #d8d8d8;
  font-size: 22px;
  font-weight: 500px;
}

.contact-right input {
  border: none;
  width: 500px;
  height: 60px;
  padding-left: 20px;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 20px;
}

.contact-right textarea {
  width: 600px;
  border: none;
  padding: 5px;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 20px;
}
.contact-submit{
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%,#B415FF 106.28%);
    font-size: 22px;
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}


@media (max-width: 1024px) {
  .contact {
    margin: 80px 60px;
  }

  .contact-section {
    flex-direction: column;
    gap: 60px;
  }

  .contact-left h1 {
    font-size: 60px;
  }

  .contact-right input,
  .contact-right textarea {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .contact {
    margin: 60px 30px;
  }

  .contact-title h1 {
    font-size: 48px;
  }
  .contact-title img{
    width: 10rem;
    height: 2rem;
    top: 30px;
  }

  .contact-left p,
  .contact-right label {
    font-size: 18px;
  }

  .contact-submit {
    font-size: 18px;
    padding: 15px 40px;
  }
}
