.footer{
    margin: 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-top-left{
    font-size: 20px;
    max-width: 400px;
}
.me{
    background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}

.me:hover{
    transform: scale(1.05);
}
.footer-top-right{
    display: flex;
    align-items: center;
    gap: 35px;
}
.footer-email-input{
    display: flex;
    gap: 30px;
    padding: 20px 20px;
    border-radius: 50px;
    background: #32323B;
    padding-right: 5px;
}
.footer-email-input input{
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 18px;
}
.footer-email-input img{
    width: 50px;
    height: 20px;
    border-radius: 1rem;
}
.footer-subscribe{
    font-size: 20px;
    padding: 22px 50px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%,#B415FF 106.28%);
    cursor: pointer;
    transition: 0.3s;
}
.footer-buttom{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.hero-connectt{
    background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
    padding: 5px;
    border-radius: 50px;
    margin-top: -5px;
    cursor: pointer;
}

.hero-connectt:hover{
    border: 2px solid rgb(121, 72, 72);
}

.footer-buttom-right{
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
    margin-left: 50rem;
    margin-top: -25px;
}
.footer-email-input:hover{
    border: 2px solid white;
}
.footer-subscribe:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

@media (max-width: 1024px) {
  .footer-top {
    flex-direction: column;
    gap: 40px;
  }

  .footer-buttom {
    flex-direction: column;
    gap: 20px;
  }

  .footer-buttom-right {
    margin-left: 0;
    margin-top: 0;
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .footer {
    margin: 40px 20px;
  }

  .footer-top-left h1{
    font-size: 35px;
  }

  .footer-top-right {
    flex-direction: column;
    gap: 20px;
  }

  .footer-subscribe {
    font-size: 18px;
    padding: 15px 7.5rem;
  }
}

@media (max-width: 375px) {
  .footer {
    margin: 20px 5px;
    gap: 15px;
  }
  .footer-top-left h1 {
    font-size: 20px;
  }
  .footer-top-left {
    font-size: 13px;
    max-width: 100%;
  }
  .footer-top-right {
    gap: 10px;
  }
  .footer-subscribe {
    font-size: 13px;
    padding: 10px 2.5rem;
  }
  .footer-buttom {
    font-size: 12px;
  }
}
